@keyframes top-bottom {
    from{
        top: -100%;
    } to {
        top: 0;
    }
}
@keyframes left-right {
    from{
        left: -100%;
    } to {
        left: 0;
    }
}
@keyframes opacity{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes rotar {
    from{
        transform: rotate(30);
        opacity: 0;
    } to {
        transform: rotate(0);
        opacity: 1;
    }    
}